.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row; /* change to column to test */
}

.box {
  padding: 20px;
  background-color: skyblue;
}
